{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row" style="height: 300px; background: linear-gradient(to bottom right, rgb(245, 29, 58), rgb(248, 66, 53));">
    <div class="col-12 text-center">
    <h1>PRESIDENCY OF THE REPUBLIC OF TÜRKİYE </h1>
    <img src="{% static 'images/items/arma.png' %}" alt="Logo" style="width: 200px; height: auto;">
    </div>
  </div>
</div>
<div class="container" style="height: 300px; background: linear-gradient(to bottom right, rgb(245, 29, 58), rgb(248, 66, 53)); ">
  <div class="row" style="height: 300px;">
    <div class="col-md-4 text-center">TİCARET BAKANLIĞI</div>
    <div class="col-md-4 text-center">SAVUNMA BAKANLIĞI<br><h1>TEST VE SUNUM YAYINIDIR<h1></div>
    <div class="col-md-4 text-center">DIŞ İŞLERİ BAKANLIĞI</div>
  </div>
</div>
<div class="container" style="height: 300px; background: linear-gradient(to bottom right, rgb(245, 29, 58), rgb(248, 66, 53)); ">
  <div class="row" style="height: 300px;">
    <div class="col-md-3 text-center">BAYKAR TEK.<br>
    <h1>TEST VE SUNUM YAYINIDIR<h1></div>
    <div class="col-md-3 text-center">TUSAŞ</div>
    <div class="col-md-3 text-center">ASELSAN</div>
    <div class="col-md-3 text-center">TEİ</div>
</div>
  </div>
</div>
<div class="container" style="height: 300px; background: linear-gradient(to bottom right, rgb(245, 29, 58), rgb(248, 66, 53)); ">
  <div class="row" style="height: 300px;">
    <div class="col-md-12 text-center"></div>
  <h2 class="text-center">"DEVTÜRKS ................."</h2>
    

  </div>
{% endblock %}