{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="section-intro padding-y-sm">
  <div class="container">
    <div class="row">
      <!-- Sol kısım (1/3) -->
      <div class="col-md-4">
        <div class="intro-banner-wrap jumbotron" style="background: linear-gradient(to bottom right, rgb(123, 125, 245), rgb(221, 130, 240)); height: 400px;">
          <h4 style="color:rgb(20, 8, 8); text-align:center; margin-top: -35px;"><b>WELCOME TO DEVTÜRKS</b></h4>
          <p class="lead" style="text-align:center;">DEVTÜRKS is the first platform for G2G (Government to Government) <br>and<br> B2G (Business to Government) interactions and more</p>
          <p class="lead" style="text-align:center;">We are here to contribute to your cooperations</p>
          <a class="btn btn-danger" href="{% url 'store' %}" role="button" style="position: absolute; bottom: 40px; right: 45px;">LET'S BEGIN</a>
          <a class="btn btn-danger" href="{% url 'about' %}" role="button" style="position: absolute; bottom: 40px; left: 45px;">WE SUPPORTED BY</a>
        </div>
      </div>

      <!-- Sağ kısım (2/3) Slider -->
      <div class="col-md-8">
        <div class="swiper-container" style="height: 400px;">
          <div class="swiper-wrapper" style="height: 400px;">
          {% for slider in sliders %}
            <div class="swiper-slide" style="height: 400px;">
              <img src="{{ slider.image.url }}" alt="{{ slider.title }}" style="height: 400px; width: 100%; object-fit: cover;">
            </div>
          {% endfor %}
        
          </div>

          <!-- Pagination -->
          <div class="swiper-pagination"></div>

          <!-- Navigation buttons -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div> <!-- satırı kapatıyoruz -->
  </div>
</section>


<!-- Swiper.js Script -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,  // Görüntülenen slayt sayısı
    spaceBetween: 10,   // Slaytlar arasındaki boşluk
    navigation: {
      nextEl: '.swiper-button-next',  // Sonraki buton
      prevEl: '.swiper-button-prev',  // Önceki buton
    },
    pagination: {
      el: '.swiper-pagination',  // Sayfalama
      clickable: true,
    },
    loop: true,  // Döngü
    autoplay: {
      delay: 2500,  // Otomatik geçiş süresi
      disableOnInteraction: false,  // Kullanıcı etkileşimi sonrası autoplay devam eder
    },
    speed: 3000,  // Geçiş hızı
    effect: 'cube',  // Geçiş efekti (fade, slide, cube, coverflow, flip gibi seçenekler mevcut)
  });
</script>





<!-- ========================= SECTION MAIN END// ========================= -->


<div class="container">
<div class="row">
{% for product in products  %}


	<div class="col-md-4">
		<div class="card card-product-grid"  style="height: 350px; width: 100%; object-fit: cover;">
			<a href="{{ product.get_url }}" class="img-wrap">    <img src="{{ product.images.url }}" alt="{{ product.product_name }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: cover;">  </a>
			<figcaption class="info-wrap">
				<h2><a href="{{ product.get_url }}" class="title">{{product.product_name}}</a></h2>
				<div class="price mt-1">
        
        {% comment %} {{product.price}} {% endcomment %}
         </div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	
{% endfor %}
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






{% endblock content %}